<a href="https://colab.research.google.com/github/juliocrodu13/ENTREGABLES-1/blob/main/Misi%C3%B3n3__(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* Julio César Rodríguez Duque
* Andrés Eduardo Ríos Castañeda
* Héctor Uriel Camacho Alzate
* Daniela Serna Gómez

**MISIÓN 3**

**1. Descarga del Conjunto de Datos:**

*  Acceso al conjunto de datos en [Kaggle](https://www.kaggle.com/datasets/datafiniti/consumer-reviews-of-amazon-products).
*  Inicio de sesión en la cuenta de Kaggle y descarga del archivo CSV correspondiente.

**2. Carga del Conjunto de Datos en Jupyter Notebook:**

*  Utilización la biblioteca **pandas** para cargar el archivo CSV en un DataFrame

In [ ]:
import pandas as pd

# Cargar el conjunto de datos
df = pd.read_csv('/content/Datafiniti_Amazon_Consumer_Reviews_of_Amazon_Products.csv')

# Mostrar las primeras filas del DataFrame
print(df.head())

                     id             dateAdded           dateUpdated  \
0  AVqVGZNvQMlgsOJE6eUY  2017-03-03T16:56:05Z  2018-10-25T16:36:31Z
1  AVqVGZNvQMlgsOJE6eUY  2017-03-03T16:56:05Z  2018-10-25T16:36:31Z
2  AVqVGZNvQMlgsOJE6eUY  2017-03-03T16:56:05Z  2018-10-25T16:36:31Z
3  AVqVGZNvQMlgsOJE6eUY  2017-03-03T16:56:05Z  2018-10-25T16:36:31Z
4  AVqVGZNvQMlgsOJE6eUY  2017-03-03T16:56:05Z  2018-10-25T16:36:31Z

                                                name       asins   brand  \
0  Amazon Kindle E-Reader 6" Wifi (8th Generation...  B00ZV9PXP2  Amazon
1  Amazon Kindle E-Reader 6" Wifi (8th Generation...  B00ZV9PXP2  Amazon
2  Amazon Kindle E-Reader 6" Wifi (8th Generation...  B00ZV9PXP2  Amazon
3  Amazon Kindle E-Reader 6" Wifi (8th Generation...  B00ZV9PXP2  Amazon
4  Amazon Kindle E-Reader 6" Wifi (8th Generation...  B00ZV9PXP2  Amazon

                                          categories primaryCategories  \
0  Computers,Electronics Features,Tablets,Electro...       Electronics
1  Computers,Electronics Features,Tablets,Electro...       Electronics
2  Computers,Electronics Features,Tablets,Electro...       Electronics
3  Computers,Electronics Features,Tablets,Electro...       Electronics
4  Computers,Electronics Features,Tablets,Electro...       Electronics

                                           imageURLs  \
0  https://pisces.bbystatic.com/image2/BestBuy_US...
1  https://pisces.bbystatic.com/image2/BestBuy_US...
2  https://pisces.bbystatic.com/image2/BestBuy_US...
3  https://pisces.bbystatic.com/image2/BestBuy_US...
4  https://pisces.bbystatic.com/image2/BestBuy_US...

                                                keys  ...  \
0  allnewkindleereaderblack6glarefreetouchscreend...  ...
1  allnewkindleereaderblack6glarefreetouchscreend...  ...
2  allnewkindleereaderblack6glarefreetouchscreend...  ...
3  allnewkindleereaderblack6glarefreetouchscreend...  ...
4  allnewkindleereaderblack6glarefreetouchscreend...  ...

                                    reviews.dateSeen reviews.doRecommend  \
0  2018-05-27T00:00:00Z,2017-09-18T00:00:00Z,2017...               False
1  2018-05-27T00:00:00Z,2017-07-07T00:00:00Z,2017...                True
2                               2018-05-27T00:00:00Z                True
3                               2018-10-09T00:00:00Z                True
4                               2018-05-27T00:00:00Z                True

    reviews.id reviews.numHelpful reviews.rating  \
0          NaN                  0              3
1          NaN                  0              5
2          NaN                  0              4
3  177283626.0                  3              5
4          NaN                  0              5

                                  reviews.sourceURLs  \
0  http://reviews.bestbuy.com/3545/5442403/review...
1  http://reviews.bestbuy.com/3545/5442403/review...
2  https://reviews.bestbuy.com/3545/5442403/revie...
3  https://redsky.target.com/groot-domain-api/v1/...
4  https://reviews.bestbuy.com/3545/5442403/revie...

                                        reviews.text  \
0  I thought it would be as big as small paper bu...
1  This kindle is light and easy to use especiall...
2  Didnt know how much i'd use a kindle so went f...
3  I am 100 happy with my purchase. I caught it o...
4  Solid entry level Kindle. Great for kids. Gift...

                                  reviews.title  reviews.username  \
0                                     Too small            llyyue
1  Great light reader. Easy to use at the beach            Charmi
2                           Great for the price      johnnyjojojo
3                                   A Great Buy           Kdperry
4      Solid entry-level Kindle. Great for kids       Johnnyblack

                                          sourceURLs
0  https://www.newegg.com/Product/Product.aspx%25...
1  https://www.newegg.com/Product/Product.aspx%25...
2  https://www.newegg.com/Product/Product.aspx%25...
3  https://www.newegg.com/Product/Product.aspx%25...
4  https://www.newegg.com/Product/Product.aspx%25...

[5 rows x 24 columns]

**3. Tokenización:**

Se emplean nltk para dividir el texto en tokens:

In [ ]:
import nltk
from nltk.tokenize import word_tokenize

# Descargar recursos necesarios
nltk.download('punkt')
nltk.download('punkt_tab')

# Tokenizar una reseña de ejemplo
ejemplo = df['reviews.text'][0]
tokens = word_tokenize(ejemplo.lower())
print(tokens)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt_tab.zip.

['i', 'thought', 'it', 'would', 'be', 'as', 'big', 'as', 'small', 'paper', 'but', 'turn', 'out', 'to', 'be', 'just', 'like', 'my', 'palm', '.', 'i', 'think', 'it', 'is', 'too', 'small', 'to', 'read', 'on', 'it', '...', 'not', 'very', 'comfortable', 'as', 'regular', 'kindle', '.', 'would', 'definitely', 'recommend', 'a', 'paperwhite', 'instead', '.']

**4. Normalización:**

Se convierte el texto a minúsculas y eliminar caracteres especiales:

In [ ]:
import re

def normalizar(texto):
    # Convertir a minúsculas
    texto = texto.lower()
    # Eliminar caracteres especiales y números
    texto = re.sub(r'[^a-záéíóúüñ\s]', '', texto)
    return texto

df['texto_normalizado'] = df['reviews.text'].apply(normalizar)

df['texto_normalizado'].head(10)

0    i thought it would be as big as small paper bu...
1    this kindle is light and easy to use especiall...
2    didnt know how much id use a kindle so went fo...
3    i am  happy with my purchase i caught it on sa...
4    solid entry level kindle great for kids gifted...
5    this make an excellent ebook reader dont expec...
6    i ordered this for my daughter as i have the b...
7    i bought my kindle about  months ago and the b...
8    amazon kindle is always the best ebook upgrade...
9    its beyond my expectation and it can even show...
Name: texto_normalizado, dtype: object

**5. Eliminación de Stopwords:**

Se utilizan **nltk** para eliminar palabras comunes que no aportan valor semántico:

In [ ]:
from nltk.corpus import stopwords

# Descargar lista de stopwords
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))

def eliminar_stopwords(texto):
    tokens = word_tokenize(texto)
    tokens_filtrados = [t for t in tokens if t not in stop_words]
    return ' '.join(tokens_filtrados)

df['texto_sin_stopwords'] = df['texto_normalizado'].apply(eliminar_stopwords)

df['texto_sin_stopwords'].head(10)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

0    thought would big small paper turn like palm t...
1               kindle light easy use especially beach
2    didnt know much id use kindle went lower end i...
3    happy purchase caught sale really good price n...
4    solid entry level kindle great kids gifted kid...
5    make excellent ebook reader dont expect much d...
6    ordered daughter black paperwhite love read qu...
7    bought kindle months ago battery already dead ...
8    amazon kindle always best ebook upgrade every ...
9    beyond expectation even show music score fast ...
Name: texto_sin_stopwords, dtype: object

**6. Lematización:**

Aplicación de WordNetLemmatizer de nltk para reducir las palabras a su forma base:

In [ ]:
from nltk.stem import WordNetLemmatizer

# Descargar recursos necesarios
nltk.download('wordnet')
nltk.download('omw-1.4')
lemmatizer = WordNetLemmatizer()

def lematizar(texto):
    tokens = word_tokenize(texto)
    tokens_lematizados = [lemmatizer.lemmatize(t) for t in tokens]
    return ' '.join(tokens_lematizados)

df['texto_lematizado'] = df['texto_sin_stopwords'].apply(lematizar)

df['texto_lematizado'].head(10)

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

0    thought would big small paper turn like palm t...
1               kindle light easy use especially beach
2    didnt know much id use kindle went lower end i...
3    happy purchase caught sale really good price n...
4    solid entry level kindle great kid gifted kid ...
5    make excellent ebook reader dont expect much d...
6    ordered daughter black paperwhite love read qu...
7    bought kindle month ago battery already dead c...
8    amazon kindle always best ebook upgrade every ...
9    beyond expectation even show music score fast ...
Name: texto_lematizado, dtype: object

**7. Stemming:**

Utilización de **PorterStemmer** para reducir las palabras a su raíz:

In [ ]:
from nltk.stem import PorterStemmer

stemmer = PorterStemmer()

def aplicar_stemming(texto):
    tokens = word_tokenize(texto)
    tokens_stemmizados = [stemmer.stem(t) for t in tokens]
    return ' '.join(tokens_stemmizados)

df['texto_stemmizado'] = df['texto_sin_stopwords'].apply(aplicar_stemming)

df['texto_stemmizado'].head(10)

0    thought would big small paper turn like palm t...
1                    kindl light easi use especi beach
2    didnt know much id use kindl went lower end im...
3    happi purchas caught sale realli good price no...
4    solid entri level kindl great kid gift kid fri...
5    make excel ebook reader dont expect much devic...
6    order daughter black paperwhit love read quit ...
7    bought kindl month ago batteri alreadi dead charg
8    amazon kindl alway best ebook upgrad everi new...
9    beyond expect even show music score fast turn ...
Name: texto_stemmizado, dtype: object

**8. Representación de Texto:**

*  Bolsa de Palabras (Bag of Words):

  *  Utilizar CountVectorizer de **sklearn**:

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
X_bow = vectorizer.fit_transform(df['texto_lematizado'])

df['texto_lematizado'].head(10)

0    thought would big small paper turn like palm t...
1               kindle light easy use especially beach
2    didnt know much id use kindle went lower end i...
3    happy purchase caught sale really good price n...
4    solid entry level kindle great kid gifted kid ...
5    make excellent ebook reader dont expect much d...
6    ordered daughter black paperwhite love read qu...
7    bought kindle month ago battery already dead c...
8    amazon kindle always best ebook upgrade every ...
9    beyond expectation even show music score fast ...
Name: texto_lematizado, dtype: object

*  TF-IDF:

  *  Aplicar TfidfVectorizer de sklearn:

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vectorizer = TfidfVectorizer()
X_tfidf = tfidf_vectorizer.fit_transform(df['texto_lematizado'])

df['texto_lematizado'].head(10)

0    thought would big small paper turn like palm t...
1               kindle light easy use especially beach
2    didnt know much id use kindle went lower end i...
3    happy purchase caught sale really good price n...
4    solid entry level kindle great kid gifted kid ...
5    make excellent ebook reader dont expect much d...
6    ordered daughter black paperwhite love read qu...
7    bought kindle month ago battery already dead c...
8    amazon kindle always best ebook upgrade every ...
9    beyond expectation even show music score fast ...
Name: texto_lematizado, dtype: object